
 h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

 hr {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
}


